.home-header{
    background: url('/assets/header-bg.svg') no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;

    nav{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: @max-width;

        .logo{
            font-size: 3.2rem;
            color: white;
            font-weight: 700;
            font-style: normal;
        }
        .nav-links a{
            font-size: 2.4rem;
            text-decoration: none;
            color: #363636;
            margin: 0 40px;
        }
    }
}