// Home Content

.container-home {
@media @phone {
width: 500px;
}

  .intro {
    h2 {
      padding: 15px;
    }

    p {
      padding: 0 15px;
    }

    img {
      margin-bottom: 3%;
      
      @media @phone {
      height: 100px;
      width: 500px;
      }

    }
  }

    @media @phone {
      display: flex;
      flex-flow: column nowrap;
    }

    img {
  @media @phone {
width: 90%;

  }

    }

    .launch, .sky {
@media @phone {
display: none;

}

    }  
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

@media @phone {

flex-flow: column nowrap;


}

     button {
        .sign-up-btn(black;8px;100px;45px);
order: 3;

        &:hover {
         background-color: red;
         color: black;

        }

@media @phone {
width: 100%;
height: 88px;

}

      }
    @media @phone {
    width: 100%;
    margin: 0 auto;
    }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
  } // home
